 
<div class="span6 offset3 text-center steamy-hottub">

	<h2 class="custom-font">
		 money money money
		 </h2>

	

		 <%= simple_form_for @pic do |f| %>
		 	<%= f.input :hour, label: 'Which Hour was this?', placeholder: '1,2,3' %>

		 	<%= f.input :image, label: 'Selfie' %>

		 	<%= f.input :emotion, label: 'How you feelin?', placeholder:'Swagged, Poppin, Swervin' %>
		 	<%= f.input :learned, label: 'Watcha learn??', placeholder: 'Thuggin, Winnin, JetLife' %>
			
		 	<%= f.submit 'Save', :class => 'btn btn-warning btn-large' %>

		 <% end %>

	</h2>

</div>